@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(0, 0, 0, 0.150);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Secular One', sans-serif;
    gap: 20px;
}

.container{
    width: 250px;
    height: 400px;
    background-color: #232528;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-box{
    width: 60px;
    height: 60px;
}

.img-box img{
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80%;
}

.content-title, .add-title{
    font-size: 72px;
    background: -webkit-linear-gradient(#FFE53B, #FF2525);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10px;
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
}

.atributo{
    color: #fff;
    font-size: 16px;
}

.atributo-valor{
    background: -webkit-linear-gradient(#FFE53B, #FF2525);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: end;
    font-size: 16px;
}

.botoes{
    margin-top: 35px;
    display: flex;
    gap: 10px;
}

.btn-prox, .btn-ant, .btn-add, .btn-reset, .btn-exc{
    background: -webkit-linear-gradient(#FFE53B, #FF2525);
    border: none;
    outline: none;
    font-family: 'Secular One', sans-serif;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-prox:hover, .btn-ant:hover, .btn-exc:hover{
    background: -webkit-linear-gradient(#FF2525, #FFE53B);
}

.container-2{
    width: 250px;
    height: 400px;
    background-color: #232528;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.formulario,
.row,
.form-label,
.form-input,
.textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type=number]{
    -webkit-appearance: textfield;
}

input[type=file]{
    display: none;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.row span{
    color: white;
    padding: 1px 10px;
}

.form-label{
    font-family: 'Secular One', sans-serif;
    color: white;
    padding: 1px 10px;
    font-size: 16px;
}

.label-file {
    margin-right: 20px;
    color: white;
    border: 1px solid #ff933b;
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 14px;
    background: -webkit-linear-gradient(#FF2525, #FFE53B);
}

.label-file:hover{
    transition: .5s;
    background: -webkit-linear-gradient(#FFE53B, #FF2525);
    cursor: pointer;
}

.form-input{
    font-family: 'Secular One', sans-serif;
    background: -webkit-linear-gradient(#FFE53B, #FF2525);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: end;
    width: 60%;
    margin-right: 20px;
    font-size: 16px;
}

.form-input:focus{
    outline: none;
    animation: slidein 0.5s;
}

@keyframes slidein {
    from {
      border-bottom: #ff933b solid 1px; 
      width: 0px;
    }
  
    to {
        border-bottom: #ff933b solid 1px; 
      width: 100%;
    }
  }

/*
input,
textarea {
  border: 2px solid #ff0000;
  background-color: white;
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}
*/
